---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div
  class="flex flex-row justify-between bg-blue-300 rounded-md border-gray-800 border-2 shadow-gray-500 shadow-lg p-2"
>
  <a href={href}>
    <h2>
      {title}
    </h2>
  </a>
  <div>
    <slot />
  </div>
</div>
