---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Title from "../components/astro/Title.astro";

const allExamples = await getCollection("example");
---

<Layout title="Welcome to Astro.">
  <Title title="Astro Multi-framework Demo" />
  <article>
    <p>A basic example of Astro pulling in various frameworks.</p>
  </article>
</Layout>

<style>
  article {
    margin: 24px;
  }
</style>
